@model IEnumerable<CoreAndFoot.Data.Models.Catagory>




<div class="collapse navbar-collapse side-bar" id="bs-megadropdown-tabs" style="margin-top: -12%; margin-right: 12px; margin-left: 10px">
    <ul class="nav navbar-nav nav_1"style="margin-top:40px; ">
        @foreach (var item in Model)
        {
            <li><a href="/Home/CatagoryDetails/@item.CatagoryID">@item.CatagoryName</a></li>
        }





    </ul>
</div>